$dark-orange: #fb8b24ff;
$spanish-orange: #e36414ff;
$eerie-black: #242423ff;
$jet: #333533ff;
$black-shadows: #b1a7a6ff;
$light-gray: #d3d3d3ff;
$cultured: #f5f3f4ff;
$white: #ffffffff;
$baby-powder: #f7f7f2ff;
$baby-powder-light: #fbfefbff;
$subtitle-text: #666;
$selective-yellow: #ffba08ff;
$orange: #f27a1a;
$peach-crayola: #fec89aff;
$peach-puff: #f9dcc4ff;
