@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.cartProductListWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 4vw;
  margin-inline: 9vw;

  .wrapperContainer {
    .containerMyCart {
      .myCartText {
        font-weight: 400;
        font-size: 1.4vw;
        line-height: 1.5rem;
      }
    }
    .containerCartProducts {
      .cartProduct {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .Product {
          height: 9rem;
          display: flex;
          align-items: center;
          flex-direction: row;
          padding-inline: 3vw;
          border: 1px solid $baby-powder-light;
          border-radius: 0.6rem;
          background-color: transparent;
          box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0,
            rgba(0, 0, 0, 0.1) 0 1px 20px 0;

          .productImage {
            display: flex;
            .image {
              width: 5vw;
              height: 6vw;
            }
          }
          .productDescription {
            margin-left: 3vw;
            display: flex;
            flex-direction: column;
            width: 20vw;
            gap: 0.5rem;
            .titleText {
              margin: 0;
              font-size: 0.8rem;
              color: $jet;
              line-height: 1.5rem;
              font-weight: 700;
            }
            .descriptionText {
              margin: 0;
              margin-left: 0.2vw;
              font-size: 0.8rem;
              color: $jet;
              line-height: 1.5rem;
            }
          }
          .productPrice {
            margin-left: 15vw;
            display: flex;
            width: 7vw;
            .priceText {
              font-family: $secondary-font;
              color: $orange;
              font-weight: bold;
              font-size: 1.2rem;
              line-height: 1.5rem;
            }
          }
          .productDeleteFromCartButton {
            display: flex;
            cursor: pointer;
            border: none;
            outline: none;
            background-color: transparent;
            margin-left: 23vw;
            font-size: 1.6vw;

            .buttonIcon {
              color: $subtitle-text;
              &:hover {
                color: $dark-orange;
              }
            }
          }
        }
      }
    }
  }
}
